@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-[#282828]; 
    @apply text-white
  }
  .great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
  }
  